
.about {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3rem 0;
    height: 100%;
}

.about .left {
    text-align: center;
    padding: 1rem;
    max-width: 350px;
    margin: auto;
}

.about .left p {
    margin: 1.2rem 0;
}

.about .right {
    max-width: 700px;
}

.right .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .img-stack {
    width: 300px; /* Adjust the width of the square image */
    height: 300px; /* Adjust the height of the square image */
    overflow: hidden; /* Hide any overflowing content */
}

.right .img {
    width: 100%; /* Ensure the image fills the container */
    height: 100%; /* Ensure the image fills the container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
    border-radius: 20px; /* Add rounded corners to improve edge quality */
}
