.project-heading {
    text-align: center;
    padding: 4rem 0 2rem 0;
}

.project-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding-bottom: 5rem;
}

.project-card {
    background-color: #f0f0f0; /* Adjust background color as needed */
    border-radius: 8px; /* Add rounded corners for a card-like appearance */
    padding: 20px; /* Add padding for spacing */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  }

  .project-card img {
    width: 100%; /* Ensure the image takes up the full width of its container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px; /* Add rounded corners for the image */
    margin-bottom: 10px; /* Add spacing between the image and the title */
  }

.project-title {
  font-size: 1.2em; /* Adjust font size for the title */
  color: #333; /* Set title color */
  margin-bottom: 10px; /* Add spacing between the title and the description */
}

.pro-details p {
    font-size: 1em; /* Adjust font size for the description */
    color: #666; /* Set description color */
    margin-bottom: 10px; /* Add spacing between descriptions */
  }

.pro-btns { /* corrected class name */
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.pro-btns .btn {
    padding: 0.5rem 1rem; /* Padding for the buttons */
    color: #fff; /* Text color */
    background-color:#D4AF37; /* Background color */
    border: #154734; /* No border */
    border-radius: 4px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  .pro-btns .btn:hover {
    background-color: #000; /* Change background color on hover */
  }


@media screen and (max-width: 740px) {
    .project-container {
        max-width: 90%;
        margin: auto;
        grid-template-columns: 1fr;
    }
}
